<%= form_with url: main_index_path, method: :post, local: true, html: { autocomplete: "off" } do %>
  <div class="d-flex gap-3 mb-4 mx-auto" style="width:500px">
    <%= select_tag :emoji, options_for_select(Translation.emojis.keys.map {|key| [t("enums.translation.emoji.#{key}"), key] }, params[:emoji]), class: "form-select", id: "emoji-select" %>
    <%= select_tag :tone, options_for_select(Translation.tones.keys.map { |key| [t("enums.translation.tone.#{key}"), key] }, params[:tone]), class: "form-select" %>
    <%= select_tag :strength, options_for_select(Translation.strengths.keys.map { |key| [t("enums.translation.strength.#{key}"), key] }, params[:strength]), class: "form-select" %>
  </div>


  <!-- ラジオボタン-->
  <div id="emoji-radio-group" class="mb-4  justify-content-center">
    <% Translation.radio_emojis.keys.each do |key| %>
      <label class="me-3">
        <%= radio_button_tag :radio_emoji, key, params[:radio_emoji] == key %>
        <%= t("enums.translation.radio_emoji.#{key}") %>
      </label>
    <% end %>
  </div>
  <% if @input_error.present? %>
    <div class="text-start mb-1">
      <p style="color:red; font-weight:bold;">【入力エラー】<%= @input_error %></p>
    </div>
  <% end %>


<div class="mb-3">
  <textarea name="base_prompt" class="form-control border border-dark mt-3" rows="5" placeholder="入力してください"><%= @input_text %></textarea>
  <div class="position-relative mx-auto my-3" style="max-width: 900px;">
    <div class="d-flex justify-content-center align-items-center gap-2">
      <%= submit_tag "変換", class: "btn btn-light border border-dark p-3 mt-2", style: "width:300px;" %>
      <%= button_tag type: "submit", name: "retry", class: "btn btn-outline-secondary" do %>
        <i class="bi bi-arrow-clockwise"></i> 再試行
      <% end %>
    </div>

    <button type="button" id="clear-btn" class="btn btn-outline-secondary border border-dark position-absolute end-0 top-50 translate-middle-y me-2">
      クリア
    </button>
  </div>
</div>
<% end %>
<!-- 出力内容を決める-->
<% output_text = @output.presence %>

<div class="px-4 py-3 container rounded position-relative mt-4" style="background-color:#87cefa;">
  <h4 class="mb-0">
    <label class="mt-0 mb-0 form-label text-center d-block" style="font-weight: bold;">出力結果</label>
  </h4>

  <br>

  <div id="txt" class="copy-wrapper position-relative bg-white p-3 rounded">
    <% if @output_error.present? %>
      <p style="color:red; font-weight:bold;"><%= @output_error %></p>
    <% else %>
      <div id="txt-body" class="mb-0"><%= output_text %></div>
    <% end %>

    <!-- 右上に固定されたコピーアイコン -->
    <button
      class="copy-btn btn btn-link p-0 position-absolute copy-btn-abs"
      type="button" aria-label="コピー"
      data-content="<%= output_text %>">
      <%= image_tag "copy_icon_128895.svg", alt: "コピーする", style: "width:20px; height:20px;" %>
    </button>

    <!-- アイコンの左横に小さく出るトースト -->
    <div class="copy-toast">コピーしました</div>
  </div>
</div>
