<div class="container mt-3">
  <div class="d-flex justify-content-end mb-5 px-3 py-2 ">
    <%= link_to "編集", main_edit_history_path, class: "nav-link text-primary fw-semibold"  %>
  </div>
  <% if @histories.present? %>
    <table class="table table-striped " style="width: 300px; margin: 0 auto;">
      <tbody>
        <% @histories.each do |history| %>
          <tr>
            <td><%= history.record %></td>
            <td class="text-end text-center align-middle" style="width: 50px;">
              <div class="copy-wrapper d-inline-flex align-items-center">
                <button class="copy-btn btn btn-outline-secondary btn-sm"
                        type="button"
                        aria-label="コピー"
                        data-content="<%= history.record %>">
                  <%= image_tag "copy_icon_128895.svg", alt: "コピーする" %>
                </button>
                <div class=" ms-2 copy-toast text-success small" style="display:none;">コピーしました</div>
              </div>
            </td>
          </tr>
        <% end %>
      </tbody>
    </table>
  <% else %>
    <p class="text-center">現在登録はありません。</p>
  <% end %>
</div>
</div>

<% if @histories.present? %>
  <%= paginate @histories %>
<% end %>
