<div class="d-flex gap-3 mb-4 mx-auto" style="width:500px">
  <select class="form-select">
    <option class="text-center">絵文字追加</option>
  </select>
  <select class="form-select">
    <option class="text-center">フォーマル</option>
  </select>
</div>

<!-- ラジオボタン-->
<div class="mb-4 d-flex justify-content-center">
  <label>
    <%= radio_button_tag :option, "顔系絵文字なし" %>顔系絵文字なし
  </label>
  <label>
    <%= radio_button_tag :option, "アイコン系なし" %> アイコン系なし
  </label>
  <label>
    <%= radio_button_tag :option, "選択なし", true %> 選択なし
  </label>
</div>

<div class="ly_cont">
  <div class="bl_selectToggle_wrapper">
    <select class="bl_selectToggle" id="js_select-Toggle">
      <option value="" disabled>選択してください</option>
      <option value="daily" class="text-center" >日常応答</option>
      <option value="ivent" class="text-center" >イベント</option>
      <option value="greeting" class="text-center" >お誘い・関心</option>
      <option value="SNS" class="text-center" >SNS</option>
      <option value="birthday" class="text-center" >誕生日</option>
    </select>
  </div>
</div>
<div class="template-select">
  <div class="bl_selectCont" id="daily">
    <div class="bl_selectCont_body">
      <p><%= render "templates/daily" %></p>
    </div>
  </div>

  <div class="bl_selectCont" id="ivent">
    <div class="bl_selectCont_body">
      <%= render "templates/ivent" %>
    </div>
  </div>
  <div class="bl_selectCont" id="greeting">
    <div class="bl_selectCont_body">
      <%= render "templates/greeting" %>
    </div>
  </div>
  <div class="bl_selectCont" id="SNS">
    <div class="bl_selectCont_body">
      <%= render "templates/sns" %>
    </div>
  </div>
  <div class="bl_selectCont" id="birthday">
    <div class="bl_selectCont_body">
      <%= render "templates/birthday" %>
    </div>
  </div>
</div>
