<div class="d-flex gap-3 mb-4 mx-auto" style="width:500px">
  <%= select_tag :emoji, options_for_select(MessageTemplate.emojis.keys.map { |key| [t("enums.message_template.emoji.#{key}"), key] }, params[:emoji]), class: "form-select" %>
  <%= select_tag :tone, options_for_select(MessageTemplate.tones.keys.map { |key| [t("enums.message_template.tone.#{key}"), key] }, params[:tone]), class: "form-select" %>
</div>



<div class="ly_cont">
  <div class="bl_selectToggle_wrapper">
    <select class="bl_selectToggle" id="js_select-Toggle">
      <option value="" disabled>選択してください</option>
      <option value="daily" class="text-center" >日常</option>
      <option value="reaction" class="text-center" >応答・リアクション</option>
      <option value="invitation" class="text-center" >お誘い・関心</option>
      <option value="SNS" class="text-center" >SNS</option>
      <option value="check_question" class="text-center" >確認・質問</option>
    </select>
  </div>
</div>
<div class="template-select">
  <div class="bl_selectCont" id="daily">
    <div class="bl_selectCont_body">
      <p><%= render "templates/daily" %></p>
    </div>
  </div>

  <div class="bl_selectCont" id="ivent">
    <div class="bl_selectCont_body">
      <%= render "templates/reaction" %>
    </div>
  </div>
  <div class="bl_selectCont" id="invitation">
    <div class="bl_selectCont_body">
      <%= render "templates/invitation" %>
    </div>
  </div>
  <div class="bl_selectCont" id="SNS">
    <div class="bl_selectCont_body">
      <%= render "templates/sns" %>
    </div>
  </div>
  <div class="bl_selectCont" id="birthday">
    <div class="bl_selectCont_body">
      <%= render "templates/check_question" %>
    </div>
  </div>
</div>
