<body class="bg-center" style="background-color: #fffff0">
  <div class="mt-5 position-relative mx-auto text-center rounded w-50" style="bottom:30px;">
    <h1 class="guide-title">利用ガイド</h1>
  </div>
  <%= link_to "トップへ戻る", root_path, class: "back-link" %>

  <div class="guide-container ">
    <div class="guide-section">
      <h2 class="guide-section1">自動生成</h2>
      <p class="guide-section2">
        入力された文章をAIを使ってその文章にあった絵文字、<br>
        関西弁に変換することができます
      </p>
      <br>
      <ul>
        <li class="guide-section3">自動生成を選択</li>
          <%= image_tag "tab_guide_auto.png", alt: "タブの見本", class: "guide-image1" %>
          <li class="guide-section3">下の三つの選択肢からどんなテキストに変換したいか<br>
          スタイル、トーン、モードを選ぶ</li>
            <%= image_tag "tab_guide_pulldown.png", alt: "自動生成の見本", class: "guide-image3" %>
          <li class="guide-section3">絵文字の種類を選択したい方は下記で少しの変更ができます</li>
            <%= image_tag "tab_guide_emoji.png", alt: "絵文字の見本", class: "guide-image3" %>
          <li class="guide-section3">「入力フォーム」に入力し、Enterもしくは、「変換」を押すと<br>
            出力結果に表示されます</li>
            <p class="input_guide">入力フォーム↓</p>
            <%= image_tag "tab_guide_input.png", alt: "入力フォーム・出力結果の見本", class: "guide-image3" %>
          <li class="guide-section3">以下のアイコン、ボタンは必要に応じて使っていただけます</li>
            <%= image_tag "tab_retry.png", alt: "リトライボタンの見本", class: "guide-retry" %>
            <p class="guide-section5">変換の再試行</p>
            <%= image_tag "tab_clear.png", alt: "クリアボタンの見本", class: "guide-clear" %>
            <p class="guide-section4">入力フォームの文字を全削除</p>
      </ul>
    </div>

    <div class="guide-section">
      <h2 class="guide-section1">テンプレート</h2>
      <p class="guide-section2">
        既存のテンプレートお使ってシーンに合わせた文字付きの文章、<br>
        関西弁の文章を選択して使用することができます</p>
      <br>
      <ul>
        <li class="guide-section3">テンプレートを選択</li>
          <%= image_tag "tab_guide_template.png", alt: "タブの見本", class: "guide-image2" %>
        <li class="guide-section3">下の二つの選択肢からどんなテキストに変換したいか<br>
        スタイル、トーンを選ぶ</li>
          <%= image_tag "tab_guide_pulldown2.png", alt: "テンプレートの見本", class: "guide-image3" %>
        <li class="guide-section3">スタイル、トーンを選択したらシーンを選択</li>
          <%= image_tag "tab-select.png", alt: "シーン選択の見本", class: "guide-image4" %>
        <li class="guide-section3">シーンを選択したら下にテンプレートが表示されます<br>
          <%= image_tag "tab_template.png", alt: "テンプレートの見本", class: "guide-image5" %>
      </ul>

    </div>
  </div>
