<%= form_with url: "#", method: :get, data: { turbo: false } do %>
  <%= hidden_field_tag :emoji, "add" %>
  <input type="hidden" id="js-emoji" value="add">

  <div class="message-box">
    <div class="auto-message">
      <h2 class="auto-template">テンプレート</h2>
      <h2 class="auto-1-2">😆EMOJI😘</h2>
      <div class="auto-min-box">
        <p class="auto-2">
          このツールを使えば、簡単にテキストをemojiで装飾することができます！このテンプレートで雰囲気に合わせた絵文字を使用することができます。それによりチャットやSNS、ブログ記事を楽しく彩ることができます！！
        </p>
      </div>
    </div>

    <%= render "main/templates" %>
    <div class="tool-select-all">
    <div class="t-s-sub-box">
      <div class="clear-box"></div>
      <%= render "shared/tool_manual" %>
      </div>
      <div class="tool-select-box">
        <h3 class="t-s-title">他のおすすめツール</h3>
      </div>
      <!--　表示画面に寄って変わる選択ボタン　-->
      <%= render "shared/no_template_kansai" %>
    </div>
  </div>
  </div>
<% end %>
