<div class="bg-center mx-auto" style="max-width:750px; background-color:#fffff0;">

  <!-- PCタイトル -->
  <div class="text-center d-none d-md-flex justify-content-center mt-5 mx-auto rounded bg-info" style="width:80%;">
    <h1 class="text-white mb-0 py-2">EMOJI関西弁変換</h1>
  </div>
<!-- スマホタイトル -->
  <div class="text-center d-flex d-md-none justify-content-center mt-5 mx-auto rounded bg-info" style="width:80%;">
    <h2 class="text-white mb-0 py-2">EMOJI関西弁変換</h2>
  </div>

  <!-- タブエリア -->
  <div class="container py-4">
    <ul class="nav nav-pills justify-content-center gap-3 mb-2" id="pills-tab" role="tablist">

      <li class="nav-item">
        <a class="nav-link custom-tab active" id="pills-auto-tab" data-bs-toggle="pill"
          data-turbo="false" href="#pills-auto">
          自動生成
        </a>
      </li>

      <li class="nav-item">
        <a class="nav-link custom-tab" id="pills-templates-tab" data-bs-toggle="pill"
          data-turbo="false" href="#pills-templates">
          テンプレート
        </a>
      </li>

      <li class="nav-item">
        <a class="nav-link custom-tab" id="pills-histories-tab" data-bs-toggle="pill"
          data-turbo="false" href="#pills-histories">
          Myテンプレート
        </a>
      </li>

    </ul>
  </div>

  <!-- タブコンテンツ -->
  <div class="tab-content border border-top-0 rounded-bottom py-2 mx-auto" id="pills-tabContent" style="max-width:750px;">

    <div class="tab-pane fade show active" id="pills-auto" role="tabpanel" aria-labelledby="pills-auto-tab" tabindex="0">

      <%= form_with url: main_index_path, method: :post, data: { turbo: false }, html: { autocomplete: "off" } do %>
        <% if request.user_agent.to_s.downcase =~ /(iphone|android)/ %>
          <%= render "auto/auto_sp" %>
        <% else %>
          <%= render "auto/auto_pc" %>
        <% end %>
      <% end %>

    </div>

    <div class="tab-pane fade" id="pills-templates" role="tabpanel" aria-labelledby="pills-templates-tab" tabindex="0">
      <%= render "templates" %>
    </div>

    <div class="tab-pane fade" id="pills-histories" role="tabpanel" aria-labelledby="pills-histories-tab" tabindex="0">
      <%= render "main/history" %>
    </div>
  </div>
</div>
