<header class="bg light border-bottom " style="background-color: #fffff0;">
  <nav class="navbar navbar-expand-lg navbar-light">
    <div class="container-fluid">

      <!-- ロゴ部分 -->
      <div class="title-block">
        <%= link_to root_path, class: 'navbar-brand' do %>
          <%= image_tag 'smallicon.png', size: '32x32' %>
        <% end %>
        <!-- 「EMOJI関西弁変換」の文字 -->
        <%= link_to root_path, class: 'text-block' do %>
          <span class="text-block1">EMOJI</span>
          <span class="text-block2">関西弁変換</span>
        <% end %>
      </div>





      <!-- メニュー（ログイン前用） -->
      <div class="justify-content-end" id="navbarSupportedContentBefore">

        <!-- ハンバーガーメニューのボタン -->
        <div class="hanburger-menu">
          <input type="checkbox" id="menu-btn-check">
          <label for="menu-btn-check" class="menu-btn"><span></span></label>

          <!-- ハンバーガーメニューの中身 -->
          <div class="menu-content">
            <ul>
              <!-- 使い方 -->
              <li class=" my-2">
                <%= link_to "使い方", guide_path %>
              </li>

              <!-- ログイン -->
              <li class="my-2">
                <%= link_to "ログイン", login_path %>
              </li>

              <!-- 新規登録 -->
              <li class="my-2">
                <%= link_to "新規登録", new_user_path %>
              </li>
              <!-- よくある質問（FAQ） -->
              <li class="my-2">
                <%= link_to "よくある質問（FAQ）", faq_path %>
              </li>
              <li class="my-2">
                <%= link_to "利用規約", terms_path %>
              </li>
              <li class="my-2">
                <%= link_to "プライバシーポリシー", privacy_path %>
              </li>
              <li class="my-2">
                <%= link_to "問い合わせフォーム", new_contact_path %>
              </li>



            </ul>
            <div class="sns mt-0">
              <a href="https://twitter.com/intent/tweet?url=https://lingo-emoji.onrender.com/"
                target="_blank"
                class="btn btn-dark p-1">
                <i class="bi bi-twitter-x" style="font-size: 20px;"></i>
              </a>
            </div>
          </div>
        </div>

      </div>
    </div>
  </nav>
</header>
