<div class="after-login">
  <!-- トップページ　題名 --->
  <div class="message-box">
    <div class="first-message" >
      <h2 class="message-1">誰でも簡単、テキストに彩りを♪</h2>
      <div class="min-box">
        <p class="message-2">このツールを使えば、簡単にテキストをemojiで装飾することができます！チャットやSNS,ブログ記事を楽しく彩ることができます！
        emojiの雰囲気や個数、なども簡単に選択できるようになっています！さらに、関西弁変換機能も搭載！文章を関西弁に変換して、ユーモアを加えましょう！
        </p>
      </div>
    </div>
  </div>

  <!--メニュータイトル -->
  <div class="menu-line-box">
    <div class="menu-box">
      <span class="menu-title">Menu</span>
    </div>
  </div>

  <!-- 選択ボタン一覧 -->
  <div class="menu-select">
    <div class="select-box">
      <h2 class="auto-title">AI生成</h2>
      <div class="auto-box">
        <%= link_to generators_auto_emoji_path, class: "select-button" do %>
          <span class="icon-box">💖</span>
          <div class="btn-text-box">
            <span class="btn-title">Emoji追加</span>
            <span class="mini-text">文脈に合わせた絵文字を追加</span>
          </div>
        <% end %>

        <%= link_to generators_auto_kansai_path, class: "select-button" do %>
          <span class="icon-box">🐙</span>
          <div class="btn-text-box">
            <span class="btn-title">関西弁変換</span>
            <span class="mini-text">文章を関西弁に変換</span>
          </div>
        <% end %>

        <%= link_to generators_auto_both_path, class: "select-button" do %>
          <span class="icon-box">🤹‍♀️</span>
          <div class="btn-text-box">
            <span class="btn-title">Emoji追加＋関西弁変換</span>
            <span class="mini-text">絵文字追加と関西弁変換を同時に実行</span>
          </div>
        <% end %>
      </div>

      <h2 class="template-title">テンプレート</h2>
      <div class="template-box">
        <%= link_to emoji_template_templates_path, class: "select-button" do %>
        <span class="icon-box">💘</span>
          <div class="btn-text-box">
            <span class="btn-title">Emoji</span>
            <span class="mini-text">テンプレートから絵文字を追加</span>
          </div>
        <% end %>
        <%= link_to emoji_template_templates_path, class: "select-button" do %>
          <span class="icon-box">👨‍🦱</span>
            <div class="btn-text-box">
              <span class="btn-title">関西弁</span>
              <span class="mini-text">テンプレートから
                文章を関西弁に変換</span>
            </div>
        <% end %>
        <button type="button" class="after-select-button">
          <span class="icon-box">🔐</span>
          <div class="btn-text-box">
            <span class="btn-title">Myテンプレート</span>
            <span class="mini-text">AI生成で出力した履歴からテンプレートが作れる！</span>
          </div>
          <span class="login-overlay">ログインしてください</span>
        </button>
      </div>

    </div>
  </div>

</div>
