<div class="tool-manual-box">
  <div class="tool-box">
    <div class="sub-box">
      <h2 class="tool-title">ツールの特徴</h2>
    </div>
    <div class="tool-manual-1">
      <%= image_tag "tool_image.png", alt: "スマホ画面モックアップ", class: "manual-image" %>
      <div class="manual-content-box">
        <p class="manual-text">スマホやパソコン画面で気軽に使ってもらえるツールを目指しました。</p>
        <p class="manual-text">AI生成で文章にあったものを生成。テンプレではメッセージやSNSなどでも使えるものを用意。</p>
      </div>
    </div>
  </div>
  <div class="tool-box">
    <div class="sub-box">
      <h2 class="tool-title">実際の使用例</h2>
    </div>
    <div class="tool-manual-2">
      <div class="manual-content-box-1">
        <h4 class="manual-subtitle">①AI生成</h4>
        <p class="manual-text">テキストに追加するemojiの雰囲気を選びます。目的に合ったトーンを選択してください。</p>
      </div>
      <%= image_tag "select-box.png", alt: "使用例画像2", class: "select-image" %>
      <div class="manual-content-box-1">
        <p class="manual-text">入力すると、AIがテキストや選択されたモード合わせて生成します。</p>
        <p class="manual-auto-text">生成前のテキスト</p>
        <%= image_tag "input-form-box.png", alt: "使用例画像", class: "input-image" %>
        <p class="manual-auto-text">生成後のテキスト</p>
        <%= image_tag "output-box.png", alt: "使用例画像3", class: "output-image" %>
      </div>
      <div class="manual-content-box-1">
        <h4 class="manual-subtitle">②テンプレート</h4>
        <p class="manual-text">テンプレートから選択したemojiをテキストに追加します。自分の好みに合わせて選択してください。</p>
        <%= image_tag "tem-select-image.png", alt: "使用例画像4", class: "tem-select-image" %>
        <p class="manual-text">セレクトボックスが全て選択できると下にテンプレートが表示されるようになります</p>
        <%= image_tag "tem-select-2-image.png", alt: "使用例画像5", class: "tem-select-2-image" %>


    </div>
  </div>
</div>
