<%= form_with url: translation_delete_execute_templates_path, method: :post, local: true do %>
  <% if @histories.present? %>
    <div class="position-relative mx-auto" style="width: 580px;">
      <div class="add-btn-box position-absolute" style="top: 0; right: 5px;">
        <%= submit_tag "削除", class: "btn btn-danger btn-sm" %>
      </div>

      <br><br>

      <table class="table table-striped mb-3 mt-5">
        <tbody>
          <% @histories.each do |history| %>
            <tr>
              <td style="width: 250px;"><%= history.record %></td>
              <td style="width: 50px;"><%= check_box_tag "records[]", history.record %></td>
            </tr>
          <% end %>
        </tbody>
      </table>
    </div>

    <div class="page-wrapper">
      <%= paginate @histories %>
    </div>
  <% else %>
    <p class="text-center mt-4">現在登録はありません。</p>
  <% end %>
<% end %>
