<div class="justify-content-center">
  <div class="mt-5 position-relative mx-auto text-center rounded w-50" style="bottom:30px;">
    <h3 class="guide-title mb-4">自動生成</h3>
    <p>入力された文章をAIを使って文章にあった絵文字、<br>
    関西弁に変換することができる機能です。</p>
  </div>
  <div class="d-flex algin-items-start">
      <ul>
        <li class="mb-3">自動生成を選択
          <%= image_tag "tab_guide_auto.png", class: "w-50 mx-auto d-block" %>
        </li>
        <li>下の３つの選択肢からどんなテキストに変換したいか<br>
        スタイル、トーン、モードを選ぶ
          <%= image_tag "tab_guide.png", class: "mt-4 w-50 mx-auto d-block" %>
        </li>
        <li class="mt-5">
        絵文字の種類を選択したい方は下記で少しの変更ができます
          <%= image_tag "tab_guide_emoji.png", class: "mt-5 w-50 mx-auto d-block" %>
          <p class="text-center text-danger small">二つとも選択しなければ両方使用した絵文字が出力されます</p>
          <p class="text-center small">入力フォーム↓</p>
          <%= image_tag "tab_guide_input.png", class: "w-50 mx-auto d-block" %>
        </li>
        <li class="mt-5">
          <p>以下のアイコン、ボタンは必要に応じて使っていただけます</p>
          <%= image_tag "tab_auto_icon.png", class: "mt-3 w-50 mx-auto d-block" %>
        </li>
      <ul>
  </div>
</div>
